* {
  text-align:center;
}

header {
  text-align:center;
}

img {
  text-align:center;
}

a {
  padding-left:10px;
  padding-right:10px;
  background-color:#ffedcc;
  text-align:center;
}

figcaption {
  font-size:9px;
  text-align:center;
}

#featured-property>p {
  width:800px;
  text-align:center;
}

#details {
  display:block;
  float:left;
}

#details>div {
  background: #ffedcc;
  text-align:center;
  width:100%;
}
