* {
  text-align:center;
}

body {
  width:100%;
  height:100%;
  margin:0;
  text-align:center;
}

header {
  text-align:center;
}

img {
  text-align:center;
}

a {
  padding-left:10px;
  padding-right:10px;
  background-color:#ffedcc;
  text-align:center;
}

figcaption {
  font-size:9px;
}

#featured-property>p {
  width:800px;
}

#details {
  display:block;
}

#details div {
  background:#ffedcc;
  text-align:center;
  width:25%;
  float:left;
}
